html, body
  margin: 0
  padding: 0
  height: 100%
  font-size: 110%

.site-wrapper
  display: flex
  flex-direction: column
  min-height: 100vh

.site-content
  flex: 1

.site-footer
  padding: 1rem
  text-align: center

$tablet: 768px
$desktop: 1024px
$wide: 1280px

.container
  width: 100%
  margin: 0 auto
  max-width: 96vw
  padding: 0 2vw

  @media (min-width: $tablet)
    max-width: 92vw
    padding: 0 4vw

  @media (min-width: $desktop)
    max-width: 84vw
    padding: 0 8vw

  @media (min-width: $wide)
    max-width: min(92rem, 84vw)

thead th:empty
  display: none

object.pdf
  width: 80%
  height: 80vh
  margin-left: 10%
