@use 'solarized'
@use 'alerts'

$phone: 480px
$tablet: 768px
$desktop: 1024px
$wide: 1280px

html, body
  margin: 0
  padding: 0
  height: 100%
  font-size: 110%

.site-wrapper
  display: flex
  flex-direction: column
  min-height: 100vh

.site-content
  flex: 1

.site-header
  background-color: solarized.$base2
  padding: 0 2vw

  @media (prefers-color-scheme: dark)
    background-color: solarized.$base02

  @media (min-width: $tablet)
    padding: 0 4vw

  @media (min-width: $desktop)
    padding: 0 8vw

.logo-link
  display: flex
  align-items: center
  gap: 1rem
  text-decoration: none

.logo-image
  aspect-ratio: 1.4
  padding: 1vw
  width: auto

  height: 2rem
  @media (min-aspect-ratio: 1/1)
    height: 8vh
    padding: 1vh

.site-title
  margin: 0
  line-height: 1

  white-space: nowrap
  font-size: 2rem
  @media (min-aspect-ratio: 1/1)
    font-size: 10vh

.site-footer
  background-color: solarized.$base2

  @media (prefers-color-scheme: dark)
    background-color: solarized.$base02

  padding: 0
  text-align: center

.container
  width: 100%
  margin: 0 auto
  max-width: 96vw
  padding: 0 2vw

  @media (min-width: $tablet)
    max-width: 92vw
    padding: 0 4vw

  @media (min-width: $desktop)
    max-width: 84vw
    padding: 0 8vw

  @media (min-width: $wide)
    max-width: min(92rem, 84vw)

thead th:empty
  display: none

object.pdf
  width: 80%
  height: 80vh
  margin-left: 10%

.image
  max-height: 60vh
  max-width: 100%

.image-p21
  max-height: 60vh
  max-width: 284px

div.my-stuff
  div.my-stuff-item
    max-height: 30vh
    max-width: max(50vh, 600px)

    background-color: solarized.$base2
    @media (prefers-color-scheme: dark)
      background-color: solarized.$base02

    margin: 8px 8px
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
    transition: 0.1s
    &:hover
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
      transition: 0.2s
      
      background-color: solarized.$base3
      @media (prefers-color-scheme: dark)
        background-color: solarized.$base03
    
    .name
      display: inline
    .lost
      display: inline
      color: solarized.$red
      font-weight: bold
      padding: 0 16px

    div.content
      padding: 8px 16px
      display: flex
      gap: 16px
      img
        flex: 0 0 40%
        min-width: 100px
        height: auto
      .text
        flex: 1
        min-width: 100px
