<!DOCTYPE html>
<html lang="en" class="dark orange">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ config.title }}
        {% elif section.title %}
            {{ section.title }} | {{ config.title }}
        {% else %}
            {{ config.title }}
        {% endif %}
    </title>

    <link rel="icon" type="image/svg+xml" href="/logo.svg">

    <link rel="stylesheet" href="{{ get_url(path="base.css") }}">
    <link rel="stylesheet" href="{{ get_url(path="solarized.css") }}">

    <link rel="canonical" href="{{current_url | safe}}" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    {% block atom %}
        <link rel="alternate" type="application/atom+xml" title="Atom" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
</head>

<body>
    <div class="site-wrapper">
        <header class="site-header">
            {% include "header.html" %}
        </header>
        
        <main class="site-content">
            <div class="container">
                {% block content %} {% endblock content %}
            </div>
        </main>

        <div class="site-footer">
            {% include "footer.html" %}
        </div>
    </div>
</body>

</html>